body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#colorBox{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0 auto;
}

#copyBtn{
    background-color: rgb(3, 137, 3);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 20px;
    font-weight: 700;
    margin-top: 10px;
}

#copyBtn:hover{
    background-color: rgb(7, 83, 7);
}

#colorCode{
    font-size: 1.2rem;
}

button{
    cursor: pointer;
}